@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Condensed:ital@1&display=swap');
:root{
    --fontone:'Poppins', sans-serif;
    --font2:'Roboto Condensed', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
html body{
    font-family:var(--fontone);
    min-height:  100vh;
    background-color: darkgrey;
}

header{
    
    background-color: black;
    color: white;
    text-align:center;
}
header h1{
    font-family: var(--font2);
    font-variant: small-caps;
    padding-top: 50px;
    font-size: 10vw;
}

header p{
    padding-bottom: 50px;
}

header p a{
    text-decoration: none;
    color: white;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding: 30px;
    line-height: 2em;
    font-size: 2.5vw;
    
}

section p{
    padding-bottom: 2em;
}

.normal{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  
}
.imagem{
    background-color: rgba(128, 126, 126, 0.205);
    color: white;
    box-shadow:  inset 6px 6px 12px 0px rgba(0, 0, 0, 0.623);
    background-attachment: fixed;
}
.imagem p{
    display: inline-block;
    padding: 5px;
    background-color:rgba(0, 0, 0, 0.705);
    text-shadow: 1px 1px 0px black;
}

#img01{
background-image: url(imagens/background001.jpg);
background-position: right center;
background-size: cover;
}
#img02{
background-image: url(imagens/background002.jpg);
background-size: cover;
}
footer{
    background-color: black;
    padding: 10px;
    text-align: center;
    color: white;
}


footer p a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
}
